body {
   margin: 0;
   font-size: 22px;
   font-weight: 500;
   color: #777;
   font-family: "Roboto", serif;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

.header {
   background-color: #177165;
}

/* .header__inner {
   min-height: 100vh;
} */

.container-header {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 10px;
}

.header-top {
   display: flex;
   justify-content: space-between;
   padding: 15px 0 24px 0;
}

.header__logo {
   display: flex;
   align-items: center;
}

.logo__img {
   width: 196px;
   height: 59px;
}

.header__menu {
   /* width: 100%; */
   display: flex;
   justify-content: center;
   align-items: center;
}

.menu__list {
   padding: 0;
   margin: 0;
   list-style: none;
   display: flex;
   gap: 50px;
}

.menu__link {
   font-size: 15px;
   color: #A4D6CF;
   transition: color 0.3s ease;
}

.menu__link:hover {
   color: #fff;
   transform: scale(1.1);
}

.header__phone {
   min-width: 170px;
   display: flex;
   align-items: center;
}

.phone__logo {
   width: 44px;
   height: 44px;
}

.phone__list {
   padding-left: 20px;
   display: flex;
   flex-direction: column;
   gap: 9px;
}

.phone__item {
   font-size: 15px;
   color: #A4D6CF;
}

.phone__link {
   color: #fff;
   transition: color 0.3s ease;
}

.phone__link:hover {
   color: #A4D6CF;
   transform: scale(1.1);
}

.container-all {
   max-width: 1160px;
   height: 788px;
   margin: 0 auto;
   margin-bottom: 30px;
}

.header-content__inner {
   padding-top: 40px;
   display: flex;
   gap: 27px;
}

.header-content__box {
   padding-top: 48px;
}

.header-text,
.header-content__text {
   font-size: 17px;
   color: #A4D6CF;
   font-weight: 300;
}

.header__title {
   font-family: 'Playfair Display', serif;
   font-size: 60px;
   color: #fff;
   font-weight: 100;
   padding-right: 93px;
   line-height: 1.3;
   margin: 30px 0;
}

.header-content__btn {
   display: inline-block;
   background-color: #fff;
   padding: 9px 71px;
   font-size: 16px;
   color: #177165;
   margin-top: 23px;
}

.header-content__img {
   width: 550px;
   height: 844px;
}

/* .header-content__img {
   max-width: 100%;
   height: auto;
} */

.about {
   padding-top: 100px;
   margin: 0 auto;
   width: 1140px;
}

.p-text {
   font-size: 18px;
   color: #777;
   font-weight: 300;
}

.title {
   margin: 28px 0 55px;
   font-family: 'Playfair Display', serif;
   font-weight: 100;
   color: #177165;
   font-size: 48px;
   line-height: 1.4;
}
.about__inner {
   margin-bottom: 97px;
   display: flex;

}

.about__inner-img {
   width: 557px;
   height: 872px;
}

.about_g, .about_q {
   font-family: 'Playfair Display', serif;
   font-weight: 100;
   color: #177165;
   font-size: 32px;
}

.about_p, .about_r, .about_t {
   font-size: 16px;
   color: #777;
   font-weight: 300;
}

.about_p {
   margin-bottom: 60px;
}

.about__inner-content {
   margin-left: 107px;
}

.leam__more {
   font-size: 16px;
   color: #177165;
   padding: 13px 65px;
   border: #177165 3px solid;
}